<div ng-controller="forgetpasswordController" >
    <div class="fgp__container">
        <div class="fgp__center">
            <form name="forgetpassword" novalidate >
                <div>
                    <input type="email" ng-model="fgp.email" ng-required="true">
                </div>
                <div>
                    <button ng-disabled="forgetPassword.$invalid || disabledFlag" onclick="submitHandler()" type="button">{{btnText}}</button>
                </div>
               
                
            </form>
        </div>
    </div>
</div>