<div ng-controller="resetpasswordController" >
    <div class="rsp__container">
        <div class="rsp__center">
            <form name="resetpassword" novalidate >
                <div>
                    <input type="password" ng-model="rsp.password" ng-required="true">
                </div>
                <div>
                    <input type="password" ng-model="rsp.cpassword" ng-required="true">
                </div>
                <div>
                    <button ng-disabled="resetPassword.$invalid || disabledFlag" onclick="submitHandler()" type="button">{{btnText}}</button>
                </div>
               

            </form>
        </div>
    </div>
</div>